.account-form {
	width: 70%;
	margin: 100px auto auto auto;
	// margin-top: 100px;
	// background: red;

	form {
		display: flex;
		flex-direction: column;
		input {
			margin: 4px 0;
			padding: 20px;
			width: 100%;
			border: 2px solid #000 !important;
			border-radius: 0 !important;
			outline: none !important;
			font-size: 14px;
			letter-spacing: 1px;
		}

		input:focus {
			border: 2px solid #000 !important;
			border-radius: 0 !important;
			outline: none !important;
		}
	}
}
